*{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 13px;
}
#top{
    width: 100%;
    height: 80px;
    background-color: white;
}
.top{
    width: 1000px;;
    margin: auto;
}
.log-pic{
    margin-top: 5px;
    width: 150px;
    height: 70px;
    float: left;
    background-color: #5A5A5A;
}
.top-search label{
    display: block;
    height: 35px;
    float: left;
    margin-top: 11px;
    margin-left: 50px;
    width: 340px;
}
.top-search-text{
    width:300px;
    height:30px;
    font-size: 18px;
    float: left;
    text-indent: 10px;
    border-radius:3px  0 0 3px ;
    outline: none;
    border: 1px solid #FF5722;
}
.top-search-button{
    height: 32px;
    width: 35px;
    border: 1px solid #FF5722;
    outline: none;
    cursor: pointer;
    border-radius:0 3px 3px 0;
    background: url("../img/top_sousuo.png") no-repeat center;
}
.log{
    margin-top: 25px;
    display: block;
    float: right;

    color: #FF5722;
}
.log-on{
    color: #f86c00;
    font-size: 18px;
    text-decoration: none;
}
.log-on:hover{
    color: crimson;
    text-decoration: underline;
}
.back-Main{
    text-decoration: none;
    font-size: 16px;
    color: gray;
    display: block;
    margin-left: 10px;
    padding-left: 20px;
    float: right;
    text-align: center;
    border-left: 1px solid #000000;
}
.back-Main:hover{
    text-decoration: underline;
    color: black;
}
.footer{
    height: 170px;
    clear: both;
}
.footer a{
    font-size: 16px;
    text-decoration: none;
    color:#BDBDBD;
    margin-bottom: 20px;

}
.footer p{
    text-align: center;
    color:#BDBDBD;
    font-size: 16px;
    margin-bottom: 5px;
}
.a-margin{
    padding-top: 40px;
}


.Task-classification,.Task{
    width: 998px;
    margin: auto;
}
.Task-classification{
    margin-top: 50px;
    height: 112px;
    border: 1px solid #ff9400;
}
.right-top{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}
.tip-text{
    margin: 20px 0 0 10px;
    float: left;
    color: #888888;
}
.right-mid{
    width: 100%;
    min-height: 390px;
}
.right-bot{
    padding-top: 30px;
    height: 60px;
    width: 100%;
}
label{
    width: 180px;
    height: 50px;
    float: right;
    margin-right: 10px;
}
label input{
    text-indent: 5px;
    margin-top: 15px;
    height: 23px;
    float: left;
    border:1px solid #dcdcdc;
}
.but{
    width: 25px ;
    height: 25px;
    cursor: pointer;
    background:#ffffff url("../img/search-little.png") no-repeat center;
}
.order-type{
    width: 200px;
    margin:20px 5px 0 5px;
    font-size: 15px;
    float: right;
}
.fa-sort-desc,.fa-sort-asc{
    position: absolute;
    right: -12px;
}
.fa-sort-desc{
    top: -3px;
}
.fa-sort-asc{
    top: 3px;
}
.right-top a,.right-top span{
    margin: 0 8px;
}
.order,.onclock{
    position: relative;
    cursor: pointer;
}
.order:hover,.onclock{
    color: #f60000;
}

.classification-Title{
    width: 100px;
    background-color:#f86c00;
    float: left;
}
.classification-Title p{
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    padding: 3px 0;
}
.classification-Choice{
    float: right;
    width:898px;
    height: 50px;
    background-color:#ffffff;
    padding: 3px 0;
}
.classification-Choice a{
    display: block;
    float: left;
    margin: 15px 30px;
    width: 70px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.Task{
    border: 1px solid #ffffff;
    height:935px;
    background-color: #eeeeee;
}
.detile-box {
    display: none;
    width: 108px;
    height: 56px;
    position: absolute;
    left: -30px;
    top: -10px;
    margin-left: 10px;
    border: 1px solid#BDBDBD;
    background-color: #ffffff;
}
.detile-box span{
    height: 20px;
    width: 110px;
    display: block;
    padding: 5px 0;
    font-size: 16px;
    cursor: pointer;
    line-height: 20px;
    z-index: 101;
    float: left;
}
.detile-box span:hover{
    background-color: #ff9400;
    color: #ffffff;
}

.task-message-Exhibition{
    width: 320px;
    height:320px;
    float: left;
    margin: 15px 6px;
    background-color: #ffffff;
}
.task-message-Exhibition img{
    width: 320px;
    height:260px;
}
.task-message-Exhibition-text{
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color:  rgba(160, 154, 159, 0.98);
}
.task-message-Exhibition-text:hover{
    text-decoration: underline;
    cursor: pointer;
    color:#000000;
}
.task-message-Exhibition-price{
    color: #FF5722;
    width: auto;
    font-size: 13px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

.task-message-Exhibition-price a {
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color: #FF5722;
    text-decoration: none;
}
.task-message-Exhibition-price a:hover{
    text-decoration: underline;
}
.task-message-Exhibition-time{
    float: right;
    width: 136px;
    height: 20px;
    margin-top:10px;
    color: rgba(160, 154, 159, 0.98);
    line-height: 20px;
    font-size: 14px;
}


.platform-page{
    padding-top: 10px;
    width: 515px;
    height: 40px;
    clear: both;
    margin: auto;
}
.page,.page1,.page2{
    display: block;
    height:40px;
    float: left;
    text-align: center;
    line-height: 40px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}
.page,.page2{
    border-radius: 10px;
    width: 48px;
    margin-right: 5px;

}
.page1{
    width: 40px;
    margin: 0 10px;
}
.click,.page:hover{
    background-color: #FF5722;
    border-radius: 10px;
    color: #ffffff;
}

#NotLogin .log{
    margin-top: 40px;
    display: block;
    float: right;
    color: #FF5722;
}
#NotLogin .log-on{
    color: #f86c00;
    font-size: 18px;
    text-decoration: none;
}
#NotLogin .log-on:hover{
    color: crimson;
    text-decoration: underline;
}
#NotLogin .back-Main{
    text-decoration: none;
    font-size: 17px;
    color: gray;
    display: block;
    margin-left: 10px;
    padding-left: 20px;
    float: right;
    text-align: center;
    border-left: 1px solid #000000;
}
#NotLogin .back-Main:hover{
    text-decoration: underline;
    color: black;
}
#NotLogin{
    display: block;
}
.back-top a{
    width:46px;
    height:47px;
    position:fixed;
    right:10px;
    bottom:20px;
    background:url(../img/back.png) no-repeat left top;
    margin-left:610px;
    display: none;
    cursor: pointer;
}
.back-top a:hover{
    background:url(../img/back.png) no-repeat left -47px;
}
#HasLog .log-on{
    margin-left: 10px;
    margin-right: 5px;
    color: darkorange;
    font-size: 16px;
}
#HasLogin{
    display: none;
}
#HasLog{
    line-height: 50px;
    float: right;
    font-size: 16px;
    position: relative;
}
.log a{
    color:#9E9792;
    text-decoration: none;
    font-size: 14px;
    padding-right: 10px;
}
#HasLog img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: -55px;
}
.log li{
    float: left;
    cursor: pointer;
    margin-left: 5px;
}
.log a:hover{
    text-decoration: underline;
    color:#000;
}
#HasLog.log-on:hover{
    color: darkorange;
    text-decoration: underline;
}
.top .back-Main{
    text-decoration: none;
    font-size: 16px;
    color: gray;
    display: block;
    float: right;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
}
#HasLog .back-Main:hover{
    text-decoration: underline;
    color: black;
}
.news-main{
    vertical-align: bottom;
    width:500px;
    /*float: left;*/
    padding-left:10px ;
    margin-top: 10px;

}
.news-title{
    font-size: 22px;
    font-weight: bold;
}
.log .Out-Self-Info{
    position: relative;
    display: none;
}
.log .in-Self-Info{
    position: relative;
    color:#9E9792;
    font-size: 16px;
    text-decoration: none;
    display: none;
}
.Out-User{
    border:1px solid #9E9792;
    position: absolute;
    top: 39px;
    right: -30px;
    display: none;
    z-index: 99999;
}
#HasLog .Out-User li{
    line-height: 28px;
    margin-left: 0;
    background-color: white;
}
.in-Self-Info .Out-User a,.Out-Self-Info .Out-User a{
    padding-left: 10px;
    width:84px;
    color: #9E9792;
    display: block;
    text-decoration: none;
}
.Out-Self-Info .Out-User a{
    width:84px;
}

#HasLog  .Out-User li a:hover{
    background-color: #cbcbcb;
    color:white;
}
#HasLog .top-news a{
    font-size: 16px;
}
#HasLog .top-news{
    line-height: 50px;
}
#HasLog .top-news a:hover{
    text-decoration: underline;
    color:#000;
}
#HasLog .news-detail{
    background-color: white;
    border: 1px solid #9E9792;
    position: absolute;
    top: 39px;
    left: 145px;
    display: none;
    z-index: 99999;

}
#HasLog .news-detail li{
    font-size: 14px;
    float: none;
    height:30px;
    line-height: 30px;
    margin: 0;
}
#HasLog .news-detail li a{
    display: block;
    padding-left: 10px;
    border: none;
    font-size: 14px;
    padding-right: 8px;
}
#HasLog .news-detail a:hover{
    background-color: #cbcbcb;
    color: white;
    text-decoration: none;
}
#HasLog .news-detail .news-orange{
    color: #FF5B00;

}


ul,li{
    list-style: none;
}
